//=====fonts=====

$main-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

//=====color=====
$main-color: #000;
$secondary-color: #fff;
$lorem-color: #333333;
$form-color: #86878B;
$accent-color: #EC7979;
